
{% extends "layout.html" %}
{% block body %}

<!-- home section starts  -->
<section class="home" id="home">
    <div id="results"></div>
    
    <div class="row">

        <div class="content">
            <h3>20% off on your favorite book</h3>
            <p>“Miss a meal if you have to, but don't miss a book” -

                <span>Jim Rohn</span> </p>
            <a href="#" class="btn">buy now</a>
        </div>

        <div class="swiper books-slider">
            <div class="swiper-wrapper">
                <a href="#" class="swiper-slide"><img src="{{url_for('static', filename='image/book-1.png') }}" alt=""></a>
                <a href="#" class="swiper-slide"><img src="{{url_for('static', filename='image/book-2.png') }}" alt=""></a>
                <a href="#" class="swiper-slide"><img src="{{url_for('static', filename='image/book-3.png') }}" alt=""></a>
                <a href="#" class="swiper-slide"><img src="{{url_for('static', filename='image/book-4.png') }}" alt=""></a>
                <a href="#" class="swiper-slide"><img src="{{url_for('static', filename='image/book-5.png') }}" alt=""></a>
                <a href="#" class="swiper-slide"><img src="{{url_for('static', filename='image/book-6.png') }}" alt=""></a>
            </div>
            <img src="{{url_for('static', filename='image/stand.png') }}" class="stand" alt="">
        </div>

    </div>

</section>

<!-- home section ense  -->

<!-- icons section starts  -->

<section class="icons-container">

    <div class="icons">
        <i class="fas fa-shipping-fast"></i>
        <div class="content">
            <h3>free shipping</h3>
            <p>order over ₹100000</p>
        </div>
    </div>

    <div class="icons">
        <i class="fas fa-lock"></i>
        <div class="content">
            <h3>secure payment</h3>
            <p>100 secure payment</p>
        </div>
    </div>

    <div class="icons">
        <i class="fas fa-redo-alt"></i>
        <div class="content">
            <h3>easy returns</h3>
            <p>10 days returns</p>
        </div>
    </div>

    <div class="icons">
        <i class="fas fa-headset"></i>
        <div class="content">
            <h3>24/7 support</h3>
            <p>call us anytime</p>
        </div>
    </div>

</section>

<!-- icons section ends -->

<!-- featured section starts  -->

<section class="featured" id="featured">

    <h1 class="heading"> <span>featured books</span> </h1>

    <div class="swiper featured-slider">

        <div class="swiper-wrapper">
            {% for book in data2%}
            <div class="swiper-slide box">
                <div class="icons">
                    <!-- <a href="#" class="fas fa-search"></a> -->
                    <div id="add_to_fav" class="fas fa-heart"></div>
                    <a href="#" class="fas fa-eye"></a>
                </div>
                <div class="image">
                    <img src="{{ book.image }}" alt="{{ book.book_title }}">
                </div>
                <div class="content">
                    <h3>{{book.book_title}}</h3>
                    <div class="price"><strong>&#8377;</strong> {{book.price}}</div>
                    <div id="add_to_cart" class="btn">add to cart</div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>

</section>

<!-- featured section ends -->

<!-- newsletter section starts -->

<!-- <section class="newsletter">

    <form action="">
        <h3>subscribe for latest updates</h3>
        <input type="email" name="" placeholder="enter your email" id="" class="box">
        <input type="submit" value="subscribe" class="btn">
    </form>

</section> -->

<!-- newsletter section ends -->

<!-- arrivals section starts  -->

<section class="arrivals" id="arrivals">

    <h1 class="heading"> <span>new arrivals</span> </h1>

    <div class="swiper arrivals-slider">
        
        <div class="swiper-wrapper">
            {% for book in data1%}
            <div class="swiper-slide box">
                <div class="image">
                    <img src="{{ book.image }}" alt="{{ book.book_title }}">
                </div>
                <div class="content">
                    <h3>{{book.book_title}}</h3>
                    <div class="price"><strong>&#8377;</strong> {{book.price}}</div>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<!-- arrivals section ends -->

<!-- deal section starts  -->

<!-- <section class="deal">

    <div class="content">
        <h3>deal of the day</h3>
        <h1>upto 50% off</h1>
        <p>“A room without books is like a body without a soul.”
            ― Marcus Tullius Cicero</p>
        <a href="#" class="btn">shop now</a>
    </div>

    <div class="image">
        <img src="{{url_for('static', filename='image/deal-img.jpg') }}" alt="">
    </div>

</section> -->

<!-- deal section ends -->

<!-- reviews section starts  -->

<section class="reviews" id="reviews">

    <h1 class="heading"> <span>client's reviews</span> </h1>

    <div class="swiper reviews-slider">

        <div class="swiper-wrapper">

            <div class="swiper-slide box">
                <img src="{{url_for('static', filename='image/pic-1.png') }}" alt="">
                <h3>john deo</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aspernatur nihil ipsa placeat. Aperiam at sint, eos ex similique facere hic.</p>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
            </div>

            <div class="swiper-slide box">
                <img src="{{url_for('static', filename='image/pic-2.png') }}" alt="">
                <h3>john deo</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aspernatur nihil ipsa placeat. Aperiam at sint, eos ex similique facere hic.</p>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
            </div>

            <div class="swiper-slide box">
                <img src="{{url_for('static', filename='image/pic-3.png') }}" alt="">
                <h3>john deo</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aspernatur nihil ipsa placeat. Aperiam at sint, eos ex similique facere hic.</p>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
            </div>
            <div class="swiper-slide box">
                <img src="{{url_for('static', filename='image/pic-4.png') }}" alt="">
                <h3>john deo</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aspernatur nihil ipsa placeat. Aperiam at sint, eos ex similique facere hic.</p>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
            </div>

            <div class="swiper-slide box">
                <img src="{{url_for('static', filename='image/pic-5.png') }}" alt="">
                <h3>john deo</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aspernatur nihil ipsa placeat. Aperiam at sint, eos ex similique facere hic.</p>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
            </div>

            <div class="swiper-slide box">
                <img src="{{url_for('static', filename='image/pic-6.png') }}" alt="">
                <h3>john deo</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aspernatur nihil ipsa placeat. Aperiam at sint, eos ex similique facere hic.</p>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
            </div>

        </div>

    </div>
    
</section>

<!-- reviews section ends -->

<!-- blogs section starts  -->

<section class="blogs" id="blogs">

    <h1 class="heading"> <span>our blogs</span> </h1>

    <div class="swiper blogs-slider">

        <div class="swiper-wrapper">

            <div class="swiper-slide box">
                <div class="image">
                    <img src="{{url_for('static', filename='image/blog-1.jpg') }}" alt="">
                </div>
                <div class="content">
                    <h3>Our Blogs</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, odio.</p>
                    <a href="#" class="btn">read more</a>
                </div>
            </div>

            <div class="swiper-slide box">
                <div class="image">
                    <img src="{{url_for('static', filename='image/blog-2.jpg') }}" alt="">
                </div>
                <div class="content">
                    <h3>Our Blogs</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, odio.</p>
                    <a href="#" class="btn">read more</a>
                </div>
            </div>

            <div class="swiper-slide box">
                <div class="image">
                    <img src="{{url_for('static', filename='image/blog-3.jpg') }}" alt="">
                </div>
                <div class="content">
                    <h3>Our Blogs</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, odio.</p>
                    <a href="#" class="btn">read more</a>
                </div>
            </div>

            <div class="swiper-slide box">
                <div class="image">
                    <img src="{{url_for('static', filename='image/blog-4.jpg') }}" alt="">
                </div>
                <div class="content">
                    <h3>Our Blogs</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, odio.</p>
                    <a href="#" class="btn">read more</a>
                </div>
            </div>

            <div class="swiper-slide box">
                <div class="image">
                    <img src="{{url_for('static', filename='image/blog-5.jpg') }}" alt="">
                </div>
                <div class="content">
                    <h3>Our Blogs</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, odio.</p>
                    <a href="#" class="btn">read more</a>
                </div>
            </div>

        </div>

    </div>

</section>
{% endblock %}


















